{# Gestion des données personnelles #}
<div class="card mb-4 shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Mes Informations</h5>
    </div>
    <div class="card-body">
        {# On utilise les vraies données de app.user #}
        <p><strong>Nom :</strong> {{ app.user.firstName|capitalize }} {{ app.user.lastName|upper }}</p>
        <p><strong>Email :</strong> {{ app.user.email }}</p>
        <p><strong>Entreprise :</strong> {{ app.user.company.companyName }}</p>
        <p><strong>SIRET :</strong> {{ app.user.company.siret }}</p>

        <a href="{{ path('update_profile') }}">
            <button class="btn btn-outline-primary btn-sm mt-3" data-bs-toggle="modal" data-bs-target="#editInfoModal" >
                <i class="bi bi-pencil-square"></i> Modifier mes informations 
            </button>
        </a>
    </div>
</div>