{% extends 'base.html.twig' %}

{% block title %}Mon Espace Client - WorkTogether{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Bienvenue dans votre Espace Client</h1>

        <div class="row">
            {# --- COLONNE GAUCHE --- #}
            <div class="col-md-4">
                {# Inclusion du bloc "Mes Informations" #}
                {{ include('customer_area/_partials/_user_info.html.twig') }}

                {# Inclusion du bloc "Mes Commandes" #}
                {{ include('customer_area/_partials/_orders.html.twig') }}
            </div>

            {# --- COLONNE DROITE --- #}
            <div class="col-md-8">
                {# Inclusion du tableau des unités #}
                {{ include('customer_area/_partials/_units_table.html.twig') }}
            </div>
        </div>
        
        {# Inclusion de l'historique des interventions #}
        {{ include('customer_area/_partials/_history.html.twig') }}
    </div>

    {# Inclusion des fenêtres modales #}
    {{ include('customer_area/_partials/_modals.html.twig') }}

{% endblock %}